<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition Login</title>
    <link rel="stylesheet" href="/static/style-index.css">
</head>
<body>
    <div class="container">
        <h1>Login with Face Recognition</h1>
        <video id="video" width="640" height="480" autoplay></video>
        <canvas id="canvas" style="display: none;"></canvas>
        <p id="status"></p>
        <input type="password" id="password" placeholder="Password" />
        <button id="snap">Login</button>
        <p>Dont have an account? <a href="/register">Register</a></p>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
